<div id="containerBreadcrumb">
    <section class="content-header">
        <div class="icon-breadcrumb">
            <i class="fa fa-angle-right"></i>
        </div>
        <h1>
            {{breadcrumb.funcionalidade}}
            <small>{{breadcrumb.operacao}}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">{{breadcrumb.modulo}}</a></li>
            <li class="active">{{breadcrumb.funcionalidade}}</li>
        </ol>
    </section>
</div>
