<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>SOFTPLAN | Log in</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">SOFTPLAN  </p>
      <p class="login-box-msg">Usuario: softplayer</p>
      <p class="login-box-msg"> Senha:  password </p>
      
      
     
      <form (ngSubmit)="logar()" class="login-box-body">
        <p class="login-box-msg">Entrar com:</p>
        <div class="form-group has-feedback form-login">
            <input class="form-control form-login" placeholder="e-mail" value="" name="username" type="text" autofocus [(ngModel)]="loginModel.username"/>
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback form-login">
            <input class="form-control form-login" placeholder="senha" name="password" type="password" [(ngModel)]="loginModel.password"/>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button type="submit" id="btn-login-access" class="btn btn-primary btn-block btn-flat">Entrar</button>
            </div>
            <div class="col-xs-8">
                <div class="checkbox icheck">
                    <label>
                    <input type="checkbox"> Lembrar de mim
                    </label>
                </div>
            </div>
        </div>
    </form>

      <!-- /.social-auth-links -->
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
</body>
</html>
